@import "normalize";
@import "codemirror";

$light-grey: #d3dbeb;
$dark-blue: #23232e;
$purple: #9a6bc9;
$accent: $purple;
*,
::after,
::before { box-sizing: border-box; }

html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  height: 100vh;
  overflow-x: hidden;
}


body {
  background: $dark-blue;
}

a {
  color: #d3dbeb;
}

.app {
  display: flex; flex-direction: column;
  height: 100vh;
  position: relative;
}

.header {
  background: lighten($dark-blue, 8%);
  display: flex; align-items: center;
  height: 60px;
  padding: 0 20px;
  .nav {
    display: flex;
    margin-left: auto;
    &-item {
      color: $light-grey;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      margin-left: 20px;
      a {
        color: $light-grey;
      }
    }
  }
}
.logo {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0;
  a {
    color: $light-grey;
    text-decoration: none;
  }
}

.workspace {
  display: flex;
  position: absolute; top: 60px; left: 0; bottom: 0;
  width: 100vw;
  &-pane {
    width: 50%; height: 100%;
    position: relative;
    .pane-header {
      display: flex; align-items: center;
      border-bottom: 2px solid #9a6bc9;
      height: 32px;
      padding: 0 20px;
      h4 {
        color: rgba($light-grey, 0.5);
        margin: 0;
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 0.08em;
      }
    }
    &-textarea {
      background: $dark-blue;
      color: #fff;
      border: none;
      font-size: 1rem;
      width: 100%;
      font-family: monospace;
      padding: 20px;
      position: absolute; top: 32px; left: 0; bottom: 0;
      outline: none;
      resize: none;
    }
    .CodeMirror {
      border-right: 2px solid darken($dark-blue, 3%)!important;
      font-size: 1rem;
      height: 100%;
    }
  }
}
